@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    position: relative;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
img{
    width: 100%;
    height: 100%;
}
video{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.primary-btn{
    padding: 10px 35px;
    background-color: rgb(197, 51, 197);
    border-radius: 6px;
    color: #fff;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
    margin-top: 60px;
    font-weight: 500;
    font-size: 18px;
    border: 0;
}
.primary-btn:hover{
    background-color: rgb(249, 74, 249);
}
b{
    color: #575757;
}
nav{
    width: 100%;
    height: 75px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 3px 4px 20px rgba(0, 0, 0, 0.2);
    padding: 0 5%;
    color: black;
}
ul{
    display: flex;
}
ul li{
    margin-left: 50px;
    padding: 4px;
}
.logo{
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: .8rem;
}
.cancel-icon{
    display: none;
    font-size: 20px;
}
.links{
    transition: all 1s ease;
}
ul li a{
    font-size: 1rem;
    font-weight: 600;
    color: #000;
}
.active,
ul li a:hover{
    color: rgb(197, 51, 197);
}
.menu-icon {
    font-size: 22px;
    color: rgb(197, 51, 197);
    display: none;
    cursor: pointer;
}
.img{
    width: 70px;
    height: 70px;
    border: 5px solid rgb(249, 74, 249);
    border-radius: 50%;
}
.img img{
    border-radius: 50%;
}

/* Main Section */
main{
    width: 100%;
    height: 90vh;
    padding: 0 5%;
    background-image: url('images/image-bg.jpg');
    background-size: cover;
    object-fit: fill;
    position: relative;
}
.hero-section{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;

}
.hero-content{
    padding: 20px;   
}
.hero-section{
    padding: 10px 20%;
}
.hero-content h1{
    font-size: 3rem;
}
.hero-content p{
    font-size: 18px;
    margin-bottom: 50px;
    margin-top: 50px;
}
.social-icon{
    position: absolute;
    width: 60px;
    height: 270px;
    background-color: rgb(255, 255, 255);
    left: 0;
    box-shadow: 3px 3px 12px 4px rgba(138, 12, 102, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 20px 0;
    border-radius: 0 6px 6px 0;
}
.social-icon i{
    font-size: 28px;
    color: #2a2a2a;
    cursor: pointer;
}
.social-icon i:hover{
    color: rgb(160, 35, 160);
}
#chat{
    position: fixed;
    bottom: 40px;
    right: 50px;
    box-shadow: 0px 2px 24px 10px rgba(138, 12, 102, 0.3);
    border-radius: 50%;
    z-index: 1;
}
.chat-icon i{
    padding: 20px;
    background-color: rgb(249, 74, 249);
    cursor: pointer;
    color: #fff;
    font-size: 28px;    
    border-radius: 50%;
    /* display: none; */
}
/* ABOUT SECTION */
.about-section{
    width: 100%;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 40px 0;
    background: #fafafa;
}
.about-head{
    width: 750px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.about-head h1{
    font-size: 36px;
    margin-bottom: 20px;
}
.about-content{
    width: 75%;
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
}
.about-content .about-me{
    width: 50%;
    padding-bottom: 30px;
}
.about-content .skills{
    width: 30%;
}
.about-me h2{
    margin-bottom: 30px;
}
.about-me span{
    font-size: 18px;
    font-weight: 100;
    margin-bottom: 60px;
}
.skills h2{
    margin-bottom: 30px;
}
.skills_skill{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.skill{
    padding: 8px 12px;
    background: rgba(153, 153, 153, .2);
    margin-right: 14px;
    margin-bottom: 18px;
    border-radius: 20px;
    color: #666;
}

/* Project */
#project{
    width: 100%;
    padding: 40px 0;
}
.project-section{
    width: 100%;
    padding: 0 10%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #fff;

}
.project-head{
    text-align: center;
    width: 700px;
    margin-bottom: 80px;
}
.project-head h1{
    font-size: 36px;
    margin-bottom: 30px;
}
.project-section{
    width: 100%;
    display: flex;
    align-items: center;
}
.projects-details{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    gap: 50px 30px;
}
.project-card{
    width: 30%;
    display: flex;
    flex-direction: column;
}
#p_l_btn{
    width: 33%;
    padding: 10px 5px;
    text-align: center;
    margin-top: 40px;
}
.project-image{
    width:100%;
    border-radius: 10px;
    box-shadow: 2px 5px 8px 6px rgba(0, 0, 0, 0.1);
}
.project-card h2{
    margin-bottom: 15px;
}

/* CONATCT FORM */
#contact{
    width: 100%;
    background-image: url('images/image-bg.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.contact-section{
    width: 60%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 70px 0;
    row-gap: 50px;
}
.contact-head{
    text-align: center;
    width: 700px;
}
.contact-head h1{
    font-size: 36px;
    margin-bottom: 30px;
}
.contact-form{
    width: 100%;
    background: #fff;
    box-shadow: 4px 4px 20px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    display: flex;
}
form{
    width: 50%;
    padding: 20px 70px 20px 20px;
    background-image: linear-gradient(90deg, #fc89b7, #e692f3);
}
.input{
    display: flex;
    position: relative;
}
.form i{
    font-size: 22px;
    color: rgba(75, 24, 73, 0.5);
    margin-right: 10px;
    position: absolute;
    top: 14px;
    margin: 0 8px;
} 

.contact-info{
    width: 50%;
    background-image: url('images/image-1.jpg');
    background-size: cover;
    background-position: center;
}
.contact-details{
    width: 100%;
    height: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    row-gap: 60px;
    background: rgba(0, 0, 0, 0.7);
}
.contact-details h1{
    font-size: 36px;
    color: #fff;
}
.all-details{
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    font-size: 16px;
    color: #fff;
}
.all-details i{
    color: #666;
    font-size: 22px;
}
.location,.phone-no,.email{
    display: flex;
    column-gap: 20px;
}
.form h1{
    font-weight: bold;
    color: #fff;
    font-size: 32px;
    margin-bottom: 20px;
}
.form input,textarea{
    width: 100%;
    padding: 12px 40px;
    font-size: 16px;
    border: 0;
    border-radius: 6px;
    background: rgba(0, 0, 0, 0.1);
    margin-bottom: 25px;
    color: white;
}
.form input::placeholder{
    color: white;
}
.form textarea{
    padding: 12px;
    font-size: 16px;
    border: 0;
    border-radius: 6px;
    background: rgba(0, 0, 0, 0.1);
    margin-bottom: 25px;
}
.form textarea::placeholder{
    color: white;
}
#form-submit-btn{
    width: 150px;
    cursor: pointer;
    margin: 0;
    background-color: rgb(160, 35, 160);
}
#form-submit-btn:hover{
    background-color: rgb(249, 74, 249);
}

/* FOOTER SECTION */
#footer{
    width: 100%;
    padding: 70px 10% 50px 10%;
    background-color: #000;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}
.footer-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 60px;
    border-bottom: 1px solid #666;
}
.left{
    width: 45%;
    color: #fff;
}
.left p{
    margin-top: 20px;
    font-size: 17px;
}
.right{
    width: 20%;
    text-align: end;
    color: #fff;
}
.right i{
    margin-top: 28px;
    font-size: 24px;
    margin-left: 8px;
    cursor: pointer;
    color: #575757;
}
.right i:hover{
    color: rgb(197, 51, 197);
}
.copyright{
    color: #fff;
    font-size: 14px;
    text-align: center;
}
.copyright a{
    color: #fff;
}
.copyright a:hover{
    color: rgb(197, 51, 197);
    text-decoration: underline;
}


/* Media Query For Mobile Screen */
@media screen and (max-width: 430px){
    nav .links{
        display: none;
    }
    .menu-icon{
        display: block;
    }
    nav .links ul{
        display: flex;
        flex-direction: column;
        text-align: center;
        row-gap: 20px;
        text-align: left;
    }
    nav .links{
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 50%;
        display: block;
        z-index: 1;
        text-align: center;
        padding-top: 40px;
        background-color: white;
    }
    nav .links.open{
        top: 0;
    }
    .cancel-icon{
        position: absolute;
        top: 20px;
        right: 30px;
        display: block;
    }
    main{
        height: 90vh;
    }
    .social-icon{
        display: none;
    }
    .hero-section{
        padding: 0;
        height: 90vh;
    }
    .hero-content h1{
        font-size: 38px;
    }
    
    /* About Section */
    .about-content{
        flex-direction: column;
        row-gap: 100px;
    }

    .about-head{
        width: 330px;   
        flex-wrap: wrap;
    }
    .about-content .about-me{
        width: 100%;
    }
    .about-content .skills{
        width: 100%;
    }

    /* Project Section */
    .project-section{
        padding: 0 8%;
    }
    .project-head{
        width: 330px;   
    }
    .projects-details{
        flex-direction: column;
    }
    .project-card{
        width: 100%;
    }
    #p_l_btn{
        width: 50%;
    }


    /* CONTACT SECTION */
    .contact-head{
        width: 330px;
    }
    .contact-form{
        width: 100%;
        flex-direction: column;
    }   
    .contact-section{
        width: 100%;
        padding: 30px 20px;
    }    
    form{
        width: 100%;
        padding: 20px;
    }   
    .contact-info{
        width: 100%;
    }
    .all-details{
        font-size: 14px;
        margin-left: 15px;
        row-gap: 30px;  
    }
    

    /* FOOTER SECTION */
    .footer-section{
        flex-direction: column;
        row-gap: 50px;
    }
    .footer-section .left{
        width: 90%;
    }
    .footer-section .right{
        width: 90%;
        text-align: left;
    }
    .copyright{
        font-size: 12px;
    }
    #chat{
        right: 20px;
    }
}

@media screen and (max-width: 325px){
    .hero-content{
        padding: 0;
    }
    .about-head{
        width: 280px;
    }
    .project-head{
        width: 280px;
    }
    .about-content{
        width: 280px;
    }
    .project-row{
        width: 280px;
    }
    .contact-head{
        width: 280px;
    }
}

